<% unless user_signed_in? %>
  <div class="banner" id="banner">
    <div class="banner-content" id="banner-content">
      <h1>BitFlash</h1>
      <div class="subtitle">
        <h3>The easiest way to send funds worldwide.</h3>
        <a href="#row" id="arrow"><i class="fa fa-arrow-circle-o-down fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="row" id="row">
    <div class="large-4 columns">
      <img src=<%= asset_path 'btc1.jpg' %>/>
      <h4>We utilize Bitcoin</h4>
      <p>Bitcoin enables peer to peer money transfers to occur nearly instantly and at barely any cost.  By utilizing the power of Bitcoin, we can skip the middle men and avoid those nasty credit card processing fees associated with other remittance apps.</p>
    </div>

    <div class="large-4 columns">
      <img src=<%= asset_path 'users1.jpg' %>/>
      <h4>Send money easily</h4>
      <p>BitFlash allows you to quickly and easily send Bitcoin to anyone worldwide without the need to know their Bitcoin addresses or QR codes. Add your friends and send money anytime with the click of a button!</p>
    </div>

    <div class="large-4 columns">
      <img src=<%= asset_path 'opensource.jpg' %>/>
      <h4>Open Source</h4>
      <p>BitFlash is an open source project.  We by no means consider ourselves the experts on everything there is to know, and are happy to receive your help!  If you'd like to contribute, check out our <a href="https://github.com/csoreff/bitflash-rails" target="_blank">Github</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4>Ready to get started?</h4>
        <div class="row">
          <div class="large-9 columns">
            <p>Start sending now!</p>
          </div>
          <div class="large-3 columns">
            <a href="/users/sign_up" class="radius button right">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>Copyright BitFlash © 2015.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://github.com/csoreff/bitflash-rails" target="_blank">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<% end %>

<% if user_signed_in? %>
  <div class="row full-width" data-equalizer>
    <div class="small-9 columns transactions data-equalizer-watch" role="content">
      <div class="panel transactions-panel" data-equalizer-watch>
        <% 10.times do %>
          <p><%= "Transaction = 100btc to Jane Doe 1/1/11" %></p>
        <% end %>
      </div>
    </div>

    <aside class="small-3 columns friends-list" data-equalizer-watch>
      <div class="panel friends-panel" data-equalizer-watch>
        <h5 id="friends-title">Friends</h5>
        <br>
        <% @friendships.each do |friendship| %>
          <ul class="friend-names">
            <li><a data-dropdown="drop" class="friend-button"><%= friendship.friend.first_name + " " + friendship.friend.last_name unless friendship.friend.nil?%></a><li>
          </ul>
          <ul id="drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            <li><%= link_to 'Send Money', new_friendship_transaction_path(friendship)%></li>
            <li><%= link_to 'Delete Friend', friendship_path(friendship), method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        <% end %>
        <br><br>
        <%= link_to "Add New Friend", controller: "friendships", action: "new", class: "add-friend-link" %>
      </div>
    </aside>
  </div>

  <footer class="main-footer">
    <div class="row">
      <div class="large-12 columns">
          <p>Copyright BitFlash © 2015.</p>
      </div>
    </div>
  </footer>
<% end %>
