<table class='addresses-table responsive'>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Type</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr id='btcaddress'>
        <td><%= transaction_amount(transaction) %></td>
        <td><%= transaction.created_at %></td>
        <td><%= incoming_or_outgoing?(transaction) %></td>
        <td><%= get_btc_address(transaction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @transactions %>
