<div class="row full-width" data-equalizer>
  <div class="small-12 medium-8 large-9 columns transactions data-equalizer-watch" role="content">
    <div class="panel transactions-panel" data-equalizer-watch>
      <%= yield %>
    </div>
  </div>

  <aside class="small-12 medium-4 large-3 columns friends-list" data-equalizer-watch>
    <div class="panel friends-panel" data-equalizer-watch>
      <div id="friends-title">
        <h5>Friends</h5>
        <br>
        <% @friendships.each do |friendship| %>
        <a href='#' data-options="align:left" data-dropdown="drop<%= friendship.id %>" class="friend-button">
          <ul class="friend-names">
            <table class='friends-table'>
              <tr>
            <li><td><%= gravatar_tag friendship.friend.email, size: 40 %></td>
              <td><%= friendship.friend.name unless friendship.friend.nil? %></td><li>
            </tr>
          </table>
          </ul>
          </a>
          <ul id="drop<%= friendship.id %>" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            <li><%= link_to 'Send Money', new_friendship_transaction_path(friendship)%></li>
            <li><%= link_to 'Delete Friend', friendship_path(friendship), method: :delete, id: "delete-friend", data: { confirm: 'Are you sure?' } %></li>
          </ul>
        <% end %>
        <div class="friendship-pages">
          <%= paginate @friendships %>
        </div>
      </div>
      <br><br>
      <div class="search-friend-box center-forms">
        <%= form_tag(controller: "friendships", action: "create", method: "post") do %>
          <div class="row collapse">
            <div class="row collapse postfix-round">
              <p>Add a New Friend</p>
              <div class="small-6 medium-9 large-9 columns">
                <%= text_field_tag(:email, nil, placeholder: "Friend's Email") %>
              </div>
              <div class="small-6 medium-3 large-3 columns">
                <%= submit_tag("Go", class: "button postfix") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </aside>
</div>

<footer class="main-footer">
  <div class="row">
    <div class="large-12 columns">
        <p>Copyright BitFlash © 2015.</p>
    </div>
  </div>
</footer>