<!DOCTYPE html>
<html>
<head>
  <title>BitFlash</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">BitFlash</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Transactions', transactions_path %></li>
          <li><%= link_to 'Account', account_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <% flash.each do |key, value| %>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= render 'authorized_index' %>
  <% else %>
    <%= yield %>
  <% end %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag "smoothScroll()" %>

</body>
</html>
