<div class="devise-forms">
  <p>Your available balance is: <%= @balance %></p>
  <%= form_tag do %>
    <p>Withdraw your Bitcoin or send to an outside address:</p>
    <p>Current BTC price: $<%= @btc_price %></p>
    <%= label_tag(:amount, 'Amount (in btc)') %>
    <%= number_field(:amount, step: 'any') %>
    <%= label_tag(:btcaddress, 'Bitcoin Address') %>
    <%= text_field_tag(:btcaddress) %>
    <%= label_tag(:passphrase) %>
    <%= text_field_tag(:passphrase) %><br>

    <%= submit_tag("Submit", class: 'button submit-button', data: { confirm: 'Are you sure?' }) %>
  <% end %>
</div>
